.content {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    max-width: 46.25rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:first-child {
        color: var(--blue);
      }

      &:last-child {
        color: var(--purple);
      }

      p {
        padding: 2px 8px;
        background-color: var(--gray-400);
        color: var(--gray-200);

        border-radius: 999px;

        font-weight: bold;
      }

    }

  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: 1.5rem;
    
    width: 100%;
    max-width: 46.25rem;
    
    .noTasks{
      display: flex;
      flex-direction: column;
      align-items: center;
      
      padding: 4rem 1.5rem;
      width: 100%;
      
      border-top: 1px solid #333333;

      img {
        width: 56px;
        height: 56px;
  
        margin-bottom: 1rem;
      }
    }


    ul {
      width: 100%;
      li + li {
        margin-top: .75rem;
      }
    }
  }
}
